<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="XAMPP" connectionString="Server=localhost; database=StudentAPI; UID=root; password="/>
    <add name="Tobs" connectionString="Server=127.0.0.1; Port=3306; Database=celestialError; Uid=production; Password=xUbWQw6Oqe$u6dgqXX1F6xe[,FlGAZpj;"/>
  </connectionStrings>
  <appSettings>
    <!--  LDAP AppSettings.  -->
    <add key="LdapDomainName" value="ldap.efif.dk"/>
    <add key="LdapDirectory" value="OU=ZBC,OU=UserAccounts,DC=efif,DC=dk"/>
    <add key="LdapAuthUser" value="zbc-maskinnavn"/>
    <add key="LdapAuthPass" value="Zorro.b.c"/>
  </appSettings>
</configuration>